<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo CRUD App for SCRUM</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<h1 class="mainTitle">Node/Mongo/Express mini-demo</h1>
<div class="mainBlock">
<ul class="details">
  <% for(var i=0; i<details.length; i++) {%>
    <li class="detail">
      <span><%= details[i].name %></span>
      <span><%= details[i].detail %></span>
    </li>
  <% } %>
</ul>
    <h3>Add to DB</h3>
    <form action="/details" method="POST">
      <input type ="text" placeholder="name" name="name">
      <input type ="text" placeholder="detail" name="detail">
      <button type "submit">Add</button>
    </form>

<div> 
  <h3>Update ForEdit<h3>
  <button id="update">Update</button>
</div>

 <div>
    <h3>Remove ForDeletion</h3>
    <button id="delete">Delete</button>
 </div>
 </div>


<script src="main.js"></script>
</body>
</html> 